<%= form_with(model: schedule, class: 'space-y-4') do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.label :schedule_title, class: 'label w-full' %>
    <%= f.text_field :schedule_title, class: 'input input-bordered input-primary w-full' %>
  </div>
  <div>
    <%= f.label :assumed_number_people, class: 'label' %>
    <%= f.select :assumed_number_people, Schedule.assumed_number_people.keys.map { |k| [t("enums.schedule.assumed_number_people.#{k}"), k] }, { prompt: true }, { class: 'input input-bordered input-primary w-full' } %>
  </div>
  <div>
    <%= f.label :get_up_time, class: 'label' %>
    <%= f.time_field :get_up_time, class: 'input input-bordered input-primary w-full' %>
  </div>
  <div>
    <%= f.label :sleep_time, class: 'label' %>
    <%= f.time_field :sleep_time, class: 'input input-bordered input-primary w-full' %>
  </div>
  <div class="text-right">
    <%= f.submit class: 'btn btn-primary text-white' %>
  </div>
<% end %>
