<div class="bg-primary-content min-h-screen">
    <div class="container mx-auto p-4">
        <div class="flex p-4">
            <%= link_to '#' do %>
                <div class="avatar">
                  <div class="w-16 md:w-20 rounded-full border-2 border-primary shadow-xl ">
                    <%= image_tag @schedule.user.avatar.variant(:user_show) %>
                  </div>
                  <h2 class="pt-6 pl-8"><span class="text-xl md:text-3xl"><%= @schedule.user.name %></span></h2>
                </div>
            <% end %>
        </div>

        <div class="pl-4 pb-4">
            <h1 class="text-2xl md:text-5xl font-serif"><%= @schedule.schedule_title %></h1>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <div class="flex">
                <h2><span class="text-lg md:text-xl"><%= t('defaults.people') %></span></h2>
                <h2><span class="text-lg md:text-xl"><%= @schedule.assumed_number_people_i18n %></span></h2>
            </div>
            <div class="flex">
                <h2><span class="text-lg md:text-xl"><%= t('defaults.money') %></span></h2>
                <h2><span class="text-lg md:text-xl"><%= @schedule.total_price %></span>円</h2>
            </div>
            <div class="flex">
                <h2><span class="text-lg md:text-xl"><%= t('defaults.get_up') %></span></h2>
                <h2><span class="text-lg md:text-xl"><%= l @schedule.get_up_time %></span></h2>
            </div>
            <div class="flex">
                <h2><span class="text-lg md:text-xl"><%= t('defaults.sleep') %></span></h2>
                <h2><span class="text-lg md:text-xl"><%= l @schedule.sleep_time %></span></h2>
            </div>
        </div>

        <% if current_user&.own?(@schedule) %>
            <div class="flex flex-wrap justify-center gap-4 mt-16 ">
                <%= link_to t('.create_event'), new_schedule_event_path(schedule_id: @schedule.id), class: 'btn btn-wide btn-secondary drop-shadow-xl text-white', data: { turbo_frame: dom_id(Event.new) } %>
            </div>
        <% end %>

        <%= turbo_frame_tag dom_id(Event.new) %>

        <div class="divider my-8"><%= t('defaults.get_up') %>  <%= l @schedule.get_up_time %></div>

        <%= turbo_frame_tag dom_id(@schedule, :events) do %>
          <% @events.each do |event| %>
            <%= render 'events/event', schedule: @schedule, event: %>
          <% end %>
        <% end %>

        <div class="divider mt-8"><%= t('defaults.sleep') %>  <%= l @schedule.sleep_time %></div>
    </div>
</div>
